{% extends 'layouts/noauth.html' -%}

{% block title -%}
Главная страница
{% endblock -%}


{% block body -%}
<p>
    Личный кабинет для сайта <a href="https://antonivtours.com/" class="link">Antonivtours.com</a>
</p>

<p>
    <span class="text-info">Вы вошли на сайт как неавторизированный пользователь.</span><br>
    Для авторизации перейдите в "Личный кабинет" и введите имя и пароль
</p>

<p>
    Доступна регистрация нового пользователя и воостановление пароля в случае его утраты
</p>
{% endblock -%}
