{% extends 'layouts/_base.html' -%}

{% block main -%}
<div class="container py-3">
    <header class="pb-3 mb-4 border-bottom">
        {% set active = '' -%}
        <ul class="nav nav-pills justify-content-end">

          <li class="nav-item">
{#            {% set active = '' -%}#}
{#            {% if request.endpoint == 'show' -%}#}
{#              {% set active = 'active' -%}#}
{#            {% endif -%}#}
{#            <a class="nav-link {{ active }}" href="{{ url_for('show') }}">Демонстрация витрин</a>#}
          </li>

          <li class="nav-item">
{#            {% set active = '' %}#}
{#            {% if request.endpoint == 'error' %}#}
{#              {% set active = 'active' %}#}
{#            {% endif %}#}
{#            <a class="nav-link {{ active }}" href="{{ url_for('error') }}">Ошибки</a>#}
          </li>

          <li class="nav-item">
{#            {% set active = '' %}#}
{#            {% if request.endpoint == 'showcases' or#}
{#                  request.endpoint == 'showcase_add' or#}
{#                  request.endpoint == 'showcase_update' or#}
{#                  request.endpoint == 'tour_update' %}#}
{#              {% set active = 'active' %}#}
{#            {% endif %}#}
{#            <a class="nav-link {{ active }}" href="{{ url_for('showcases') }}">Витрины горящих туров</a>#}
          </li>

          <li class="nav-item">
{#            {% set active = '' %}#}
{#            {% if request.endpoint == 'setting' %}#}
{#              {% set active = 'active' %}#}
{#            {% endif %}#}
{#            <a class="nav-link {{ active }}" href="{{ url_for('setting') }}">О системе</a>#}
          </li>

          <li class="nav-item">
{#            {% set active = '' %}#}
{#            {% if request.endpoint == 'users' or#}
{#                  request.endpoint == 'user_update' or#}
{#                  request.endpoint == 'user_add' %}#}
{#              {% set active = 'active' %}#}
{#            {% endif %}#}
{#            <a class="nav-link {{ active }}" href="{{ url_for('users') }}">Пользователи</a>#}
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('security.logout') }}">Выйти</a>
          </li>
        </ul>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="d-flex py-2 mt-4 border-top justify-content-end">
        <div class="fs-6">
            <small>designed by gdp</small>
        </div>
    </footer>
</div>
{% endblock %}
