<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}">
<script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>

<link href="{{ url_for('static', filename='css/all.css')}}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">



