{% extends 'layouts/_base.html' -%}

{% block navbar -%}
    <ul class="nav nav-pills">
        <li class="nav-item">
            {% if request.endpoint == 'security.register' -%}
                {% set active = 'active' -%}
            {% else -%}
                {% set active = '' -%}
            {% endif -%}
            <a href="/register" class="nav-link {{ active }}">Регистрация</a>
        </li>

        <li class="nav-item">
            {% if request.endpoint == 'security.forgot_password' or
                  request.endpoint == 'security.reset_password' -%}
                {% set active = 'active' -%}
            {% else -%}
                {% set active = '' -%}
            {% endif -%}
            <a href="/reset" class="nav-link {{ active }}">Восстановить пароль</a>
        </li>

        <li class="nav-item">
            {% if request.endpoint == 'security.login' -%}
                {% set active = 'active' -%}
            {% else -%}
                {% set active = '' -%}
            {% endif -%}
            <a href="/login" class="nav-link {{ active }}">Личный кабинет</a>
        </li>
    </ul>
{% endblock -%}
