{% extends 'layouts/base.html' -%}

{% block title -%}
Welcome page
{% endblock -%}

{% block main -%}
<div class="container py-3">
    <header class="pb-3 mb-4">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a href="/" class="navbar-brand">Home</a>

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="{{ url_for_security('change_password') }}" class="nav-link {{ active }}">Изменить пароль</a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for_security('logout') }}" class="nav-link">Выйти</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            {% from 'macroses/macros.html' import show_flash -%}
            {{ show_flash() }}
        </div>

        <p>
            <span class="text-info">Вы вошли на сайт, как авторизированный пользователь.</span>
        </p>
    </main>

    <footer class="d-flex py-2 mt-4 border-top justify-content-end">
        <div class="fs-6">
            <small>designed by gdp</small>
        </div>
    </footer>
</div>
{% endblock %}